.footer {
  padding: 62px 0 24px 0;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 40px;
  border-top: 1px solid #BFBDB2;
}

.navigation__list_footer {
  margin-right: 0;
}

.footer__nav {
  display: flex;
  margin-right: 0;
}

.footer__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__copyright {
  margin: 0;
}
